.slick-dots {
    
    bottom: 10px;
}
.slick-dots li{
    font-size: 30px;
    color: gray;
}
.slick-next{
    right: 0;
}
.slick-dots li.slick-active {
    color: #1667da;
    z-index: 10;
}

.slick-arrow.slick-next::before {
    content: "";
}
